# .env.example
APP_API_HTTP_ENABLED=true
JAVA17_API_URL=http://localhost:8082
APP_MESSAGING_INPUT_TOPIC=stochastic-input
APP_OUTBOX_ENABLED=true
APP_OUTBOX_INTERVAL=5000

SERVER_PORT=8081

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=stochastic_labs_db
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
SPRING_JPA_SHOW_SQL=false

KAFKA_BROKER=kafka:9092

OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_SERVICE_NAME=conditional-routing-api
OTEL_TRACES_EXPORTER=none
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=otlp