# .env.example
SERVER_PORT=8081
KAFKA_BROKER=kafka:9092
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_SERVICE_NAME=conditional-routing-api
OTEL_TRACES_EXPORTER=none
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=otlp